  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contacts</h5>
          <ul>
            <li>
              Email:
              <a class="white-text" href="mailto:info@earthrover.cc">
                info@earthrover.cc</a>
            </li>
            <li>
              LinkedIn:
              <a class="white-text" href="https://www.linkedin.com/company/earth-rover/">
                linkedin.com/company/earth-rover</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div>
                <span style="text-align: right; float: right">
                    Copyright © 2018
                        <a href="https://beta.companieshouse.gov.uk/company/10864067"
                            class="white-text text-lighten-3">
                          Earth Rover Limited</a>.
                    All rights reserved.
                </span>
            </div>
        </div>
    </div>
</footer>
