<nav class="rover" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
            <img class="brand-image" src="/assets/earth_rover_logotype_white.png"/>
        </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Home </a></li>
             <li><a href="#technology">Precision Farming </a></li>
              <li><a href="#team">Team </a></li>
              <li><a href="#partners">Partners </a></li>
              <li><a href="#investors">Investors </a></li>

          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Home </a></li>
             <li><a href="/#technology">Precision Farming </a></li>
              <li><a href="/#team">Team </a></li>
              <li><a href="#partners">Partners </a></li>
              <li><a href="#investors">Investors </a></li>
          </ul>        

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>