---
layout: default
---

<div class="hero">
    <img id="topimg" class="hero" src="/assets/field_clear.jpg"/>
    <div id="logo">
        <img id="er_logo" src="/assets/earth_rover_complete_white.jpg"/>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s10 offset-s1">
                <a name="technology" class="anchor"></a>
                <div class="section_header">
                    <h4 class="underline">
                        Autonomous Farming
                    </h4>
                    <p class="light">
                        Earth Rover is a UK precision farming startup setup in
                        partnership with Harper Adams University and the RAL Space Autonomous Systems Group. Earth Rover is developing autonomous
                        farming robots that are based on ExoMars Rover space
                        technology, adapted to carry precision tools and integrate with an intelligent data platform.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12">
                <div class="video_wrapper_container_container">
                    <div class="video_wrapper_container">
                        <div class="video_wrapper">
                            <iframe src="https://player.vimeo.com/video/247696293"
                                frameborder="0"
                                webkitallowfullscreen
                                mozallowfullscreen
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center rover-green-text"><i class="material-icons">lightbulb_outline</i></h2>
                    <h5 class="center">Data</h5>

                    <p class="light">We use Earth Rover's robots to monitor every plant and to weed, feed and tend crops
                        efficiently,
                        and precisely.
                        We gather data from the fields and provide analysis and planning tools to help farmers improve
                        their productivity.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center rover-green-text"><i class="material-icons">nature_people</i></h2>
                    <h5 class="center">Farmers</h5>

                    <p class="light">Earth Rover's open and extensible platform helps farmers control their
                        technology and their farm's data.
                        Earth Rover is committed to using technology to empower farmers the world over.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center rover-green-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Robots</h5>
                    <p class="light">Our robots have been designed by robotics engineers from the European Mars Rover
                        programme. Robust, light-weight and energy efficient, these robots with on-board AI and
                        precision tools,
                        open up a new era of farming technology.</p>
                </div>
            </div>
        </div>
        -->

    </div>
</div>



<div class="block">
    <a name="team" class="anchor"></a>
    <div class="container">
        <section class="section">
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="section_header">
                        <div class="-row">
                            <div class="-col -s10 -offset-s1">
                                <h4 class="underline">Team</h4>
                                <p class="light">
                                    Earth Rover has been founded by experienced technology entrepreneurs with world leading skills in robotics, AI, hardware and software development and industrial automation.
                                </p>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                            <div class="icon-block">
                                <div class="team-img-container">
                                    <img class="team" src="/assets/alina.jpg">
                                </div>
                                <h6 class="center">
                                    Alina Costache - CEO
                                </h6>
                                <p class="light">
                                    Alina is an experienced entrepreneur, consultant and strategic advisor. She founded Odyssey PR, has a diploma in Global Business from the Saïd Business School at Oxford University and has advised €10bn+ market cap publicly listed companies at board level.
                                </p>
                                <p class="light social-icons">
                                    <span class="ion-social-linkedin social-icons-dark-hover"></span>
                                    <a href="https://www.linkedin.com/in/alina-costache-337b959/">
                                        LinkedIn</a>
                                </p>
                                <br />
                            </div>
                        </div>
                        <div class="col m6">
                            <div class="icon-block">
                                <div class="team-img-container">
                                    <img class="team" src="/assets/paul.jpg">
                                </div>
                                <h6 class="center">
                                    Paul Harter - CTO
                                </h6>
                                <p class="light">
                                    Paul is an experienced product developer specialising in robotics, software-hardware integration and digital manufacturing. He worked as a senior technologist at BBC Research &amp; Development and previously created Digirostrum, Printcraft &amp; Smartdesk.
                                </p>
                                <p class="light social-icons">
                                    <span class="ion-social-linkedin social-icons-dark-hover"></span>
                                    <a href="https://www.linkedin.com/in/paul-harter-0154b3a/">
                                        Linkedin</a>
                                    &nbsp;
                                    <span class="ion-social-github social-icons-dark-hover"></span>
                                    <a href="https://github.com/paulharter">
                                        GitHub</a>

                                </p>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                            <div class="icon-block">
                                <div class="team-img-container">
                                    <img class="team" src="/assets/sergio.jpg">
                                </div>
                                <h6 class="center">
                                    Sergio​ A. ​Martinez - Head of Engineering
                                </h6>
                                <p class="light">
                                    Sergio is a highly skilled software and hardware engineer specialising in AI and embedded system development. Previously CTO and co-founder at FlickTek, he was a senior architect at Intel and Autonomy, and developed the video recognition systems at Blinkx.
                                </p>
                                <p class="light social-icons">
                                    <span class="ion-social-linkedin social-icons-dark-hover"></span>
                                    <a href="https://www.linkedin.com/in/abrahammartinez/">
                                        Linkedin</a>
                                    &nbsp;
                                    <span class="ion-social-github social-icons-dark-hover"></span>
                                    <a href="https://github.com/sergioamr">
                                        GitHub</a>

                                </p>
                                <br />
                            </div>
                        </div>
                        <div class="col m6">
                            <div class="icon-block">
                                <div class="team-img-container">
                                    <img class="team" src="/assets/juan.jpg">
                                </div>
                                <h6 class="center">
                                    Juan Esteban Paz - Lead Engineer
                                </h6>
                                <p class="light">
                                    Juan is a highly skilled mechatronic engineer with a degree in engineering from Universidad de Piura. Specialising in design, robotics, rovers and industrial automation, Juan recently developed a high volume automated flower harvesting system for Florsani in Ecuador.
                                </p>
                                <p class="light social-icons">
                                    <span class="ion-social-linkedin social-icons-dark-hover"></span>
                                    <a href="https://www.linkedin.com/in/jepazj/">
                                        Linkedin</a>
                                    &nbsp;
                                    <span class="ion-cube social-icons-dark-hover"></span>
                                    <a href="https://grabcad.com/juan.esteban.paz.jepaz-1/projects">
                                        GrabCAD</a>

                                </p>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div>
    <div class="container">
        <a name="partners" class="anchor"></a>
        <section class="section">
            <div class="row">
                <div class="col s10 offset-s1">


                    <div class="row">
                        <div class="col">
                            <div class="section_header">
                                <h4 class="underline">
                                    Research Partners
                                </h4>
                                <p class="light">
                                    Earth Rover has close working relationships with the UK's leading experts in the fields of Autonomous Robotics, Autonomous Farming systems and innovative Organic Farming.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div style="margin-top: -10px"></div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="org" src="/assets/harper.png">
                        <p class="light">
                            The National Centre for Autonomous Farming at Harper Adams is
                            the UK's leading research centre for robotic and presision farming. We’re collaborating with and
                            advised by:
                            Professor Simon Blackmore, Head of Robotic Agriculture, and
                            Sam Wane, Senior Lecturer in Mechatronics and Robotics.
                        </p>
                        <p>
                            <span class="ion-link social-icons-dark-hover"></span>
                            <a href="https://www.harper-adams.ac.uk/">
                                www.harper-adams.ac.uk</a>
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="org" src="/assets/ral.png">
                        <p class="light">
                            We’re working with the space engineers at the RAL Space Autonomous Systems Group who designed the ExoMars Rover's autonomous driving systems and originally adapted them for agricultural use, including Aron Kisdi, Senior Space Systems Engineer and Wayne Tubby, Lead Robotics Hardware Engineer.
                        </p>
                        <p>
                            <span class="ion-link social-icons-dark-hover"></span>
                            <a href="https://www.ralspace.stfc.ac.uk">
                                www.ralspace.stfc.ac.uk</a>
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="org" src="/assets/polybell.png">
                        <p class="light">
                            We're working closely with Pollybell Farms, who are one of the UK's largest organic farmers and one of the leading
                            farms in the UK applying advanced, high technology, sustainable farming methodologies to traditional crop management.
                        </p>
                        <p>
                            <span class="ion-link social-icons-dark-hover"></span>
                            <a href="http://www.pollybell.co.uk/">
                                www.pollybell.co.uk</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="block">
    <a name="investors" class="anchor"></a>
    <div class="container">
        <section class="section">
            <div class="row">
                <div class="col s10 offset-s1">

                    <div class="section_header">
                        <h4 class="underline">
                            Investors
                        </h4>
                        <p class="light">
                            Earth Rover has been funded by Post Urban Ventures and the European Space Agency.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="investor-block">
                        <img class="investor" src="/assets/posturban_logo.png">
                        <p class="light">
                            Post Urban Ventures is a UK-based hard tech incubator. They work with universities and entrepreneurs to create science based technology companies.
                        </p>
                        <p>
                            <span class="ion-link social-icons-dark-hover"></span>
                            <a href="https://posturban.vc">
                                posturban.vc</a>
                        </p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="investor-block">
                        <img class="investor" src="/assets/esa_logo.png">
                        <p class="light">
                            The European Space Agency Business Incubation Centre in
                            Harwell helps and funds start-ups and research teams to commercialise space technologies.
                        </p>
                        <p>
                            <span class="ion-link social-icons-dark-hover"></span>
                            <a href="http://www.stfc.ac.uk/innovation/our-facilities-and-services/esa-bic-harwell/">
                                esa-bic.org.uk</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div>
    <div class="container">
        <section class="section">
            <div class="section_header"><h4 class="underline">Location</h4>
                <p class="light">We're a UK company based at the Rutherford Appleton Laboratory Harwell Campus in
                    Oxfordshire.
                </p>
                <p class="light address">
                    G27 Atlas Building<br>
                    Fermi Avenue<br>
                    Harwell Campus<br>
                    Didcot OX11 0QS<br>
                    UK
                </p>
            </div>
            <div class="row">
                <!--div class="col-sm-6">
                    <div id="cardiff-map" class="location-map mt20">
                    </div>
                </div-->
                <!--div class="col-sm-6"-->
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div id="harwell-map" class="location-map mt20">
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>

        </section>
    </div>
</div>

<!--<div style="background: #ddd">-->
<!--<div class="container last-post">-->
<!--<section>-->
<!--<h5>News</h5>-->
<!--<ul class="collection">-->
<!--{% for post in site.posts %}-->
<!--<li class="collection-item avatar">-->
<!--{% assign date_format = site.minima.date_format | default: "%m/%d" %}-->
<!--<div class="date-post">{{ post.date | date: date_format }}</div>-->
<!--<span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>-->
<!--<p>-->
<!--{{ post.content | truncatewords: 10 }}-->
<!--</p>-->
<!--<a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--</section>-->
<!--</div>-->
<!--</div>-->


<script type="text/javascript">
    function initMap() {
        var mapOptions1 = {
            zoom: 16,
            zoomControl: true,
            scaleControl: false,
            scrollwheel: false,
            disableDoubleClickZoom: true,
            center: new google.maps.LatLng(51.464783, -3.163191),
            styles: [{
                "featureType": "landscape",
                "stylers": [{"saturation": -100}, {"lightness": 65}, {"visibility": "on"}]
            }, {
                "featureType": "poi",
                "stylers": [{"saturation": -100}, {"lightness": 51}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.highway",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.arterial",
                "stylers": [{"saturation": -100}, {"lightness": 30}, {"visibility": "on"}]
            }, {
                "featureType": "road.local",
                "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]
            }, {
                "featureType": "transit",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {
                "featureType": "water",
                "elementType": "labels",
                "stylers": [{"visibility": "on"}, {"lightness": -25}, {"saturation": -100}]
            }, {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{"hue": "#ffff00"}, {"lightness": -25}, {"saturation": -97}]
            }]
        };
        /*
         var mapElement1 = document.getElementById('cardiff-map');
         var map1 = new google.maps.Map(mapElement1, mapOptions1);
         var marker1 = new google.maps.Marker({
         position: new google.maps.LatLng(51.464783, -3.163191),
         map: map1,
         title: 'Cardiff Office'
         });
         */
        var mapOptions2 = {
            zoom: 15,
            zoomControl: true,
            scaleControl: false,
            scrollwheel: false,
            disableDoubleClickZoom: true,
            center: new google.maps.LatLng(51.575318, -1.314668),
            styles: [{
                "featureType": "landscape",
                "stylers": [{"saturation": -100}, {"lightness": 65}, {"visibility": "on"}]
            }, {
                "featureType": "poi",
                "stylers": [{"saturation": -100}, {"lightness": 51}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.highway",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.arterial",
                "stylers": [{"saturation": -100}, {"lightness": 30}, {"visibility": "on"}]
            }, {
                "featureType": "road.local",
                "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]
            }, {
                "featureType": "transit",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {
                "featureType": "water",
                "elementType": "labels",
                "stylers": [{"visibility": "on"}, {"lightness": -25}, {"saturation": -100}]
            }, {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{"hue": "#ffff00"}, {"lightness": -25}, {"saturation": -97}]
            }]
        };
        var mapElement2 = document.getElementById('harwell-map');
        var map2 = new google.maps.Map(mapElement2, mapOptions2);
        var marker2 = new google.maps.Marker({
            position: new google.maps.LatLng(51.575318, -1.314668),
            map: map2,
            title: 'Harwell Office'
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap" async
        defer></script>
