---
layout: default
---

<div class="hero">
    <img id="topimg" class="hero" src="/assets/team_shot.jpg"/>
    <!--div id="logo">
        <img id="er_logo" src="/assets/earth_rover_complete_white.jpg"/>
    </div-->
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s10 offset-s1">
                <a name="technology" class="anchor"></a>
                <div class="section_header">
                    <h4 class="underline">
                        Autonomous Farming
                    </h4>
                    <p class="light">
                        Earth Rover is a UK precision farming start-up aiming to provide the first robotic agriculture system that is genuinely viable for farmers.
                        We are driven by the need to bridge the gap between today’s farming methods and the autonomous farm of the future.
                        We call our approach the “pragmatic transition”: combining best-in-class technologies with existing equipment to deliver working applications &mdash; such as scouting, weeding and selective harvesting &mdash; that help farmers improve productivity.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12">
                <div class="video_wrapper_container_container">
                    <div class="video_wrapper_container">
                        <div class="video_wrapper">
                            <iframe src="https://player.vimeo.com/video/269615471"
                                frameborder="0"
                                webkitallowfullscreen
                                mozallowfullscreen
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center rover-green-text"><i class="material-icons">lightbulb_outline</i></h2>
                    <h5 class="center">Data</h5>

                    <p class="light">We use Earth Rover's robots to monitor every plant and to weed, feed and tend crops
                        efficiently,
                        and precisely.
                        We gather data from the fields and provide analysis and planning tools to help farmers improve
                        their productivity.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center rover-green-text"><i class="material-icons">nature_people</i></h2>
                    <h5 class="center">Farmers</h5>

                    <p class="light">Earth Rover's open and extensible platform helps farmers control their
                        technology and their farm's data.
                        Earth Rover is committed to using technology to empower farmers the world over.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center rover-green-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Robots</h5>
                    <p class="light">Our robots have been designed by robotics engineers from the European Mars Rover
                        programme. Robust, light-weight and energy efficient, these robots with on-board AI and
                        precision tools,
                        open up a new era of farming technology.</p>
                </div>
            </div>
        </div>
        -->

    </div>
</div>



<div class="block">
    <a name="team" class="anchor"></a>
    <div class="container">
        <section class="section">
            <div class="row">
                <div class="col s12">
                    <div class="section_header">
                        <div class="row">
                            <div class="col s10 offset-s1">
                                <h4 class="underline">Team</h4>
                                <p class="light">
                                    Earth Rover has been co-founded by experienced technology entrepreneurs, a pioneering farmer, a world leading agricultural roboticist and world-class technical experts across hardware and software development, AI and industrial automation.
                                </p>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                            <div class="team-member icon-block">
                                <div class="team-img-container">
                                    <img class="team" src="/assets/team/James.jpg">
                                </div>
                                <h6 class="center">
                                    James Brown
                                </h6>
                                <p class="light">
                                    James is Managing Director of Pollybell Farms. Pollybell is one of the UK's largest organic vegetable producers and is well know as one of the UK's leading pioneers of
                                    modern, innovative, sustainable farming.
                                </p>
                                <p class="light social-icons">
                                    <span class="ion-link social-icons-dark-hover"></span>
                                    <a href="https://www.pollybell.co.uk">
                                        Pollybell Website</a>
                                </p>
                                <br />
                            </div>
                        </div>
                        <div class="col m6">
                            <div class="team-member icon-block">
                                <div class="team-img-container">
                                    <img class="team" src="/assets/team/Simon.jpg">
                                </div>
                                <h6 class="center">
                                    Simon Blackmore
                                </h6>
                                <p class="light">
                                    Simon is one of the world's leading experts on robotic agriculture. Previously Head of Engineering at Harper Adams University he holds academic chairs around the world and has helped define the future of farming.
                                </p>
                                <p class="light social-icons">
                                    <span class="ion-link social-icons-dark-hover"></span>
                                    <a href="https://www.harper-adams.ac.uk/general/staff/profile.cfm?id=201049">
                                        Academic Profile</a>
                                </p>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col m6">
                            <div class="team-member icon-block">
                                <div class="team-img-container">
                                    <img class="team" src="/assets/team/Alina.jpg">
                                </div>
                                <h6 class="center">
                                    Alina Costache
                                </h6>
                                <p class="light">
                                    Alina is an experienced entrepreneur, consultant and strategic advisor. She founded Odyssey PR, has a diploma in Global Business from the Saïd Business School at Oxford University and has advised €10bn+ market cap publicly listed companies at board level.
                                </p>
                                <p class="light social-icons">
                                    <span class="ion-social-linkedin social-icons-dark-hover"></span>
                                    <a href="https://www.linkedin.com/in/alina-costache-337b959/">
                                        LinkedIn</a>
                                </p>
                                <br />
                            </div>
                        </div>
                        <div class="col m6">
                            <div class="team-member icon-block">
                                <div class="team-img-container">
                                    <img class="team" src="/assets/team/Paul.jpg">
                                </div>
                                <h6 class="center">
                                    Paul Harter
                                </h6>
                                <p class="light">
                                    Paul is an experienced product developer specialising in robotics, software-hardware integration and digital manufacturing. He worked as a research technologist at BBC Research &amp; Development and previously created Digirostrum, Printcraft &amp; Smartdesk.
                                </p>
                                <p class="light social-icons">
                                    <span class="ion-social-linkedin social-icons-dark-hover"></span>
                                    <a href="https://www.linkedin.com/in/paul-harter-0154b3a/">
                                        Linkedin</a>
                                    &nbsp;
                                    <span class="ion-social-github social-icons-dark-hover"></span>
                                    <a href="https://github.com/paulharter">
                                        GitHub</a>
                                </p>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6">
                            <div class="team-member icon-block">
                                <div class="team-img-container">
                                    <img class="team" src="/assets/team/Sergio.jpg">
                                </div>
                                <h6 class="center">
                                    Sergio​ A. ​Martinez
                                </h6>
                                <p class="light">
                                    Sergio is a highly skilled software and hardware engineer specialising in AI and embedded system development. Previously CTO at FlickTek, he was a software architect at Intel and Autonomy, and developed the video recognition systems at Blinkx.
                                </p>
                                <p class="light social-icons">
                                    <span class="ion-social-linkedin social-icons-dark-hover"></span>
                                    <a href="https://www.linkedin.com/in/samart">
                                        Linkedin</a>
                                </p>
                                <br />
                            </div>
                        </div>
                        <div class="col m6">
                            <div class="team-member icon-block">
                                <div class="team-img-container">
                                    <img class="team" src="/assets/team/Juan.jpg">
                                </div>
                                <h6 class="center">
                                    Juan Esteban Paz
                                </h6>
                                <p class="light">
                                    Juan is a highly skilled mechatronic engineer with a degree in engineering from Universidad de Piura. Specialising in robotics, rovers and industrial automation, he previously developed Florsani's high volume automated flower harvesting system.
                                </p>
                                <p class="light social-icons">
                                    <span class="ion-social-linkedin social-icons-dark-hover"></span>
                                    <a href="https://www.linkedin.com/in/jepazj/">
                                        Linkedin</a>
                                </p>
                                <br />
                            </div>
                        </div>
                    </div>
                    <!--div class="row">
                        <div class="col m6">
                            <div class="team-member icon-block">
                                <div class="team-img-container">
                                    <img class="team" src="/assets/team/Dan.jpg">
                                </div>
                                <h6 class="center">
                                    Dan Robertson
                                </h6>
                                <p class="light">
                                    Dan was brought up on the family farm and graduated with a master’s degree in Agricultural Engineering. He has many years’ experience working on farms both in the UK and abroad and experience working in engineering R&amp;D for equipment manufacturers.
                                </p>
                                <p class="light social-icons">
                                    <span class="ion-social-linkedin social-icons-dark-hover"></span>
                                    <a href="https://www.linkedin.com/in/daniel-robertson-1aa29a153/">
                                        Linkedin</a>
                                </p>
                                <br />
                            </div>
                        </div>
                    </div-->
                </div>
            </div>
        </section>
    </div>
</div>

<div>
    <div class="container">
        <a name="partners" class="anchor"></a>
        <section class="section">
            <div class="row">
                <div class="col s10 offset-s1">


                    <div class="row">
                        <div class="col">
                            <div class="section_header">
                                <h4 class="underline">
                                    Strategic partnerships
                                </h4>
                                <p class="light">
                                    Earth Rover has close working relationships with the UK's leading experts in the fields of Autonomous Robotics, Autonomous Farming systems and innovative Organic Farming.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div style="margin-top: -10px"></div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="org" src="/assets/harper.png">
                        <p class="light">
                            The National Centre for Autonomous Farming at Harper Adams is
                            the UK's leading research centre for robotic and presision farming.
                        </p>
                        <p class="light">
                            Through Professor Simon Blackmore we collaborate with Harper across a range of R&D, testing and fundraising activity.
                        </p>
                        <p>
                            <span class="ion-link social-icons-dark-hover"></span>
                            <a href="https://www.harper-adams.ac.uk/">
                                www.harper-adams.ac.uk</a>
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="org" src="/assets/ral.png">
                        <p class="light">
                            The RAL Space Autonomous Systems Group comprises of the space engineers who designed the ExoMars Rover's autonomous driving systems. They collaborated with Harper Adams to adapt this for agricultural use.
                        </p>
                        <p class="light">
                            Earth Rover have licensed the resulting technology.
                        </p>
                        <p>
                            <span class="ion-link social-icons-dark-hover"></span>
                            <a href="https://www.ralspace.stfc.ac.uk">
                                www.ralspace.stfc.ac.uk</a>
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="org" src="/assets/polybell.png">
                        <p class="light">
                            Pollybell are one of the UK's largest organic vegetable farmers and one of the leading farms in the UK applying advanced, high technology, sustainable farming methodologies to traditional crop management.
                        </p>
                        <p>
                            <span class="ion-link social-icons-dark-hover"></span>
                            <a href="http://www.pollybell.co.uk/">
                                www.pollybell.co.uk</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="block">
    <a name="investors" class="anchor"></a>
    <div class="container">
        <section class="section">
            <div class="row">
                <div class="col s10 offset-s1">

                    <div class="section_header">
                        <h4 class="underline">
                            Investors
                        </h4>
                        <p class="light">
                            Earth Rover has been funded by
                            Post Urban Ventures and members of the
                            Par Equity business angel syndicate.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="investor-block">
                        <img class="investor" src="/assets/posturban_logo.png">
                        <p class="light">
                            Post Urban Ventures is a UK-based hard tech incubator. They work with universities and entrepreneurs to create science based technology companies.
                        </p>
                        <p>
                            <span class="ion-link social-icons-dark-hover"></span>
                            <a href="https://posturban.vc">
                                posturban.vc</a>
                        </p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="investor-block">
                        <img class="investor" src="/assets/par-logo.png">
                        <p class="light">
                            The Par Syndicate is a collaborative investment club, bringing together expert private investors looking for interesting early-stage high growth potential companies.
                        </p>
                        <p>
                            <span class="ion-link social-icons-dark-hover"></span>
                            <a href="https://www.parequity.com">
                                parequity.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div>
    <div class="container">
        <section class="section">
            <div class="section_header"><h4 class="underline">Location</h4>
                <p class="light">
                    We're a UK company based at the Agri-EPI Centre in Shropshire.
                </p>
                <p class="light address">
                    Poultry Drive<br>
                    Edgmond<br>
                    Newport TF10 8JZ<br>
                    UK
                </p>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div id="agri-epi-map" class="location-map mt20">
                    </div>
                </div>
                <br />
                <br />
                <br />
            </div>

        </section>
    </div>
</div>

<!--<div style="background: #ddd">-->
<!--<div class="container last-post">-->
<!--<section>-->
<!--<h5>News</h5>-->
<!--<ul class="collection">-->
<!--{% for post in site.posts %}-->
<!--<li class="collection-item avatar">-->
<!--{% assign date_format = site.minima.date_format | default: "%m/%d" %}-->
<!--<div class="date-post">{{ post.date | date: date_format }}</div>-->
<!--<span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>-->
<!--<p>-->
<!--{{ post.content | truncatewords: 10 }}-->
<!--</p>-->
<!--<a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--</section>-->
<!--</div>-->
<!--</div>-->


<script type="text/javascript">
    function initMap() {
        var mapOptions2 = {
            zoom: 15,
            zoomControl: true,
            scaleControl: false,
            scrollwheel: false,
            disableDoubleClickZoom: true,
            center: new google.maps.LatLng(52.777047, -2.424236),
            styles: [{
                "featureType": "landscape",
                "stylers": [{"saturation": -100}, {"lightness": 65}, {"visibility": "on"}]
            }, {
                "featureType": "poi",
                "stylers": [{"saturation": -100}, {"lightness": 51}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.highway",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.arterial",
                "stylers": [{"saturation": -100}, {"lightness": 30}, {"visibility": "on"}]
            }, {
                "featureType": "road.local",
                "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]
            }, {
                "featureType": "transit",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {
                "featureType": "water",
                "elementType": "labels",
                "stylers": [{"visibility": "on"}, {"lightness": -25}, {"saturation": -100}]
            }, {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{"hue": "#ffff00"}, {"lightness": -25}, {"saturation": -97}]
            }]
        };
        var mapElement2 = document.getElementById('agri-epi-map');
        var map2 = new google.maps.Map(mapElement2, mapOptions2);
        var marker2 = new google.maps.Marker({
            position: new google.maps.LatLng(52.777047, -2.424236),
            map: map2,
            title: 'Agri-EPI Centre'
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhsIIPc_Zh0rEcoFPPhqkepEdSrtDxT6I&callback=initMap" async
        defer></script>
