---
layout: default
---
<div class="container">
    <div class="hero">

        <img id="topimg" class="hero" src="/assets/field_clear.jpg"/>
        <div id="logo">
            <img id="er_logo" src="/assets/earth_rover_complete_white.jpg"/>

            <h4 id="precision">PRECISION FARMING</h4>
        </div>

    </div>


    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col">
                <div class="section_header"><h4>Vision</h4>
                    <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                        efficiently
                        and precisely.
                        We gather data from the fields and provide analysis and planning tools to help farmers
                        improve
                        their productivity.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center rover-green-text"><i class="material-icons">lightbulb_outline</i></h2>
                    <h5 class="center">Data</h5>

                    <p class="light">We use robots to monitor every plant and to weed, feed and tend crops efficiently
                        and precisely.
                        We gather data from the fields and provide analysis and planning tools to help farmers improve
                        their productivity.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center rover-green-text"><i class="material-icons">nature_people</i></h2>
                    <h5 class="center">Farmers</h5>

                    <p class="light">Automonous Farming doesn't just mean swarms of smart robots tending crops.
                        It also means supporting autonomy for farmers, ensuring that they can own and control their
                        technology and their farm's data.
                        Earth Rover are committed to using technology to empower farmers the world over.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center rover-green-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Robots</h5>
                    <p class="light">Our robots have been designed by robotics engineers from the European Mars Rover
                        programme. Robust, light-weight and energy efficient these robots, with on-board AI and
                        precision tools,
                        open up a new era of farming technology.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="hero" style="background: #ddd">

        <img class="hero" src="/assets/earth_rover_bigger.jpg"/>

    </div>

    <div style="background: #ddd">

        <section>
            <div class="section_header"><h4>Team</h4></div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="team" src="/assets/james.jpg">
                        <h6 class="center">James Arthur</h6>
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="team" src="/assets/luke.jpg">
                        <h6 class="center">Luke Robinson</h6>
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="team" src="/assets/paul.jpg">
                        <h6 class="center">Paul Harter</h6>
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="team" src="/assets/alina.jpg">
                        <h6 class="center">Alina Costache</h6>
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="team" src="/assets/sergio.jpg">
                        <h6 class="center">Sergio​ ​Martinez</h6>
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="team" src="/assets/juan.jpg">
                        <h6 class="center">Juan Esteban Paz</h6>
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div>

        <section>


            <div class="row">
                <div class="col">
                    <div class="section_header"><h4>Partners</h4>
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="team" src="/assets/simon.jpg">
                        <h6 class="center">Simon Blackmore</h6>
                        <img class="org" src="/assets/harper.png">
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>

                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="team" src="/assets/wayne.jpg">
                        <h6 class="center">Wayne Tubby</h6>
                        <img class="org" src="/assets/ral.png">
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img class="team" src="/assets/jamesb.jpg">
                        <h6 class="center">James Brown</h6>
                        <img class="org" src="/assets/polybell.png">
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div style="background: #ddd">
        <section>
            <div class="section_header"><h4>Investors</h4></div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="icon-block">
                        <img class="team" src="/assets/simon.jpg">
                        <h6 class="center">Simon Blackmore</h6>
                        <img class="org" src="/assets/harper.png">
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="icon-block">
                        <img class="team" src="/assets/wayne.jpg">
                        <h6 class="center">Wayne Tubby</h6>
                        <img class="org" src="/assets/ral.png">
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div>
    <div class="container">
        <section>
            <div class="row">
                <div class="col">
                    <div class="section_header"><h4>Location</h4>
                        <p class="light">We use robots to monitor every plant and to weed, feed and tend crops
                            efficiently
                            and precisely.
                            We gather data from the fields and provide analysis and planning tools to help farmers
                            improve
                            their productivity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--div class="col-sm-6">
                    <div id="cardiff-map" class="location-map mt20">
                    </div>
                </div-->
                <!--div class="col-sm-6"-->
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div id="harwell-map" class="location-map mt20">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!--<div style="background: #ddd">-->
    <!--<div class="container last-post">-->
        <!--<section>-->
            <!--<h5>News</h5>-->
            <!--<ul class="collection">-->
                <!--{% for post in site.posts %}-->
                <!--<li class="collection-item avatar">-->
                    <!--{% assign date_format = site.minima.date_format | default: "%m/%d" %}-->
                    <!--<div class="date-post">{{ post.date | date: date_format }}</div>-->
                    <!--<span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>-->
                    <!--<p>-->
                        <!--{{ post.content | truncatewords: 10 }}-->
                    <!--</p>-->
                    <!--<a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>-->
                <!--</li>-->
                <!--{% endfor %}-->
            <!--</ul>-->
        <!--</section>-->
    <!--</div>-->
<!--</div>-->


<script type="text/javascript">
    function initMap() {
        var mapOptions1 = {
            zoom: 16,
            zoomControl: true,
            scaleControl: false,
            scrollwheel: false,
            disableDoubleClickZoom: true,
            center: new google.maps.LatLng(51.464783, -3.163191),
            styles: [{
                "featureType": "landscape",
                "stylers": [{"saturation": -100}, {"lightness": 65}, {"visibility": "on"}]
            }, {
                "featureType": "poi",
                "stylers": [{"saturation": -100}, {"lightness": 51}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.highway",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.arterial",
                "stylers": [{"saturation": -100}, {"lightness": 30}, {"visibility": "on"}]
            }, {
                "featureType": "road.local",
                "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]
            }, {
                "featureType": "transit",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {
                "featureType": "water",
                "elementType": "labels",
                "stylers": [{"visibility": "on"}, {"lightness": -25}, {"saturation": -100}]
            }, {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{"hue": "#ffff00"}, {"lightness": -25}, {"saturation": -97}]
            }]
        };
        /*
         var mapElement1 = document.getElementById('cardiff-map');
         var map1 = new google.maps.Map(mapElement1, mapOptions1);
         var marker1 = new google.maps.Marker({
         position: new google.maps.LatLng(51.464783, -3.163191),
         map: map1,
         title: 'Cardiff Office'
         });
         */
        var mapOptions2 = {
            zoom: 15,
            zoomControl: true,
            scaleControl: false,
            scrollwheel: false,
            disableDoubleClickZoom: true,
            center: new google.maps.LatLng(51.575318, -1.314668),
            styles: [{
                "featureType": "landscape",
                "stylers": [{"saturation": -100}, {"lightness": 65}, {"visibility": "on"}]
            }, {
                "featureType": "poi",
                "stylers": [{"saturation": -100}, {"lightness": 51}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.highway",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.arterial",
                "stylers": [{"saturation": -100}, {"lightness": 30}, {"visibility": "on"}]
            }, {
                "featureType": "road.local",
                "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]
            }, {
                "featureType": "transit",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {
                "featureType": "water",
                "elementType": "labels",
                "stylers": [{"visibility": "on"}, {"lightness": -25}, {"saturation": -100}]
            }, {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{"hue": "#ffff00"}, {"lightness": -25}, {"saturation": -97}]
            }]
        };
        var mapElement2 = document.getElementById('harwell-map');
        var map2 = new google.maps.Map(mapElement2, mapOptions2);
        var marker2 = new google.maps.Marker({
            position: new google.maps.LatLng(51.575318, -1.314668),
            map: map2,
            title: 'Harwell Office'
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap" async
        defer></script>
